.App{
    background-color: rgb(32, 33, 33);
    color: white;
    text-align: center;
    min-height: 100vh;
}
.header{
    background-color: yellowgreen;
}
.footer{
    background-color: blueviolet;
}